<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
        <img src="../../../assets/fotoporfolio.jpg"
         class="img-fluid" id="fotodeperfil">
    </div>

<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Sandra Mariana Salina</p>
    <p>Full Stack Developer Jr.</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" >
    <span>
        <h1>Acerca de mi</h1>
        <p>Soy una emprendedora que se destaca por su creatividad, responsabilidad y resolucion de problemas.
            <br>Hace poco tiempo descubri el mundo de la programacion gracias a mi curiosidad, constante ganas de aprender
            <br>y mejorar dia a dia.
            <br>    Me gusta la programacion porque me gustan los desafios, trabajo muy bien en equipo y mi comunicacion con
            <br>los demas es efectiva.</p>
    </span>
</div>
</div>
