 <!--Educacion
 
    <div class="row">
    <div id="carouselExampleSlidesOnly" class="carousel slide mt-5 pt-5 col-6" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/Word.jpg" class="d-block w-100" alt="Word">
           </div>
        <div class="carousel-item">
          <img src="../../../assets/recursosmarketing.jpg" class="d-block w-100" alt="recursosmarketing">
           </div>
        <div class="carousel-item">
          <img src="../../../assets/Creacionmarca.jpg" class="d-block w-100" alt="Creacionmarca">
           </div>
        <div class="carousel-item">
          <img src="../../../assets/Diseñoonline.jpg" class="d-block w-100" alt="Diseñoonline"> 
          </div>
        <div class="carousel-item">
          <img src="../../../assets/excel.jpg" class="d-block w-100" alt="excel">
          </div>
        <div class="carousel-item">
              <img src="../../../assets/excelavanzado.jpg" class="d-block w-100" alt="excelavanzado">
              </div>
        <div class="carousel-item">
            <img src="../../../assets/basededatos.jpg" class="d-block w-100" alt="basededatos">
              </div>
        <div class="carousel-item">
          <img src="../../../assets/seprogramar.jpg" class="d-block w-100" alt="#seprogramar">
            </div>
        
          </div>
          </div>
          <div class="text-center col-6 mt-5 pt-5">
            <h4>Capacitacion</h4>
              <ul>
                <li>Secundario completo con titulo de Perito Mercantil con Orientacion en Computacion</li>
              </ul>
            <h4>Cursos Realizados:</h4>
               <ul>
                  <li>Word:optimizacion de documentos</li>
                  <li>Recursos para el marketing y la comunicacion digital</li>
                  <li>Creacion y gestion de marca para redes</li>
                  <li>Diseño Online:Recursos y Herramientas</li>
                  <li>Excel</li>
                  <li>Excel Avanzado</li>
                  <li>Introduccion a Base de Datos y SQL</li>
                  <li>#SeProgramar</li>
                </ul>
          </div>-->
          <div class="row">
            <h1>Educacion</h1>
            <div class="col-lg-2">
                <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
                    Agregar Educacion
                </button>
            </div>
        
            <div class="col lg 1"></div>
            <div class="col-lg-11">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let Educacion of educacion">
                            <td>
                                <h2>{{Educacion.nombreEdu}}</h2>
                            </td>
                            <td>
                              {{Educacion.descripcionEdu}}
                            </td>
                            <td *ngIf="isLogged">
                                <button class="btn btn-light" routerLink="/editedu/{{Educacion.id}}">
                                    <i class="bi bi-pencil-fill"></i> Editar</button>
                            </td>
                            <td *ngIf="isLogged">
                                <button class="btn btn-danger" (click)="delete(Educacion.id)">
                                    <i class="bi bi-trash-fill"></i> Borrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
        </div>
      


