<!--<div class="Experiencia Laboral">
    <h3 class="fw-bold  pt-5">Experiencia</h3> 
      <div class="container">
        <div class="row">
          <div class="col-3">
           <img src="../../../assets/conductoraauto.jpg" alt="Remisera" class="mt-5 pt-5 image-fluid exp1">
          </div>
          <div class="col-9 mt-5">
            <h5 class="pt-5">Mi primer empleo fue como conductora y telefonista de una remiseria.
              <br>(2002-2004)
            </h5> 
          </div>
        </div>
        <div class="row">
        <div class="col-3">
          <img src="../../../assets/trabajovoluntario.jpg" alt="Cooperadora" class="mt-5 pt-5 image-fluid exp2">
        </div>
        <div class="col-9 mt-5">
          <h5 class="pt-5">Colabore como voluntaria en el Jardin n°937 por un lapso de 2 años (2012-2014),
            <br>ocupando el cargo de Secretaria de la cooperadora.
            <br>Organizacion de eventos, manejo de la caja, atencion al publico,administracion,etc.</h5>
        </div>
    </div>
      </div>
     </div> -->
    
    <div class="row">
      <h1>Experiencia laboral</h1>

      <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>

      <div class="col lg 1"></div>
      <div class="col-lg-11">
      <table class="table">
        <tbody>

          <tr *ngFor="let Experiencia of expe">

            <td>
              <h2>{{Experiencia.nombreExp}}</h2>
            </td>
            <td>{{Experiencia.descripcionExp}}</td>
            <td *ngIf="isLogged">
              <button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
                <i class="bi bi-pencil-fill"></i> Editar</button>
            </td>
            <td *ngIf="isLogged">
              <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                <i class="bi bi-trash-fill"></i >Borrar</button>
            </td>
          </tr>
        </tbody> 
      </table>    
    </div>
    </div>  
