.container-fluid {
    background:#a1b5cb;
}

.list-group-item {
    background-color:#a1b5cb;
    

}
  
.fa-brands.fa-github.fa-2x:hover {
 --bs-bg-opacity: 1;
    color:  #00fff2 !important;
}

.fa-brands.fa-linkedin.fa-2x:hover {
    --bs-bg-opacity: 1;
    color: #1100ff  !important;
}

.fa-brands.fa-instagram.fa-2x:hover {
    --bs-bg-opacity: 1;
    color: hsl(34, 100%, 50%)  !important; 
}

.fa-brands.fa-facebook.fa-2x:hover  {
    --bs-bg-opacity: 1;
    color: #1100ff  !important;
}

.fa-solid.fa-user-lock.fa-2x:hover {
    --bs-bg-opacity: 1;
    color: #f700ff  !important;
}


#logoAP {
    width: 150px;
}
img {
    width: 50px;
}