

div {
    background-image: url(../../../assets/colorful-galaxy.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -o-background-size:cover;
    position: relative;
    -msn-background-size:cover;
    -webkit-background-size:cover;
    -mdz-background-size:cover;
    background-size: cover;
 }
h1.intro {
    padding-top: 15%;
    font-size: 3rem;
}


